@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
	
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width: 799px){

	body{
		padding: 0%;
		margin: 0%
	}
	#contenedor {
		width: 100%;
		background: #8FA68E;
	}

	li a{
		padding: 0.5em;
		display: block;
		color: #000;
	}

	ul{
		margin: 0;
	}
	
	nav {
		background: #f7c976;
		float: none;
		width: 100%;
		width: 100%;
		padding: 0.5px 4px;
		
	}

	section {
		background: #e7d8ad;
		float: none;
		width: 100%;
		margin: 0;
		padding: 5px;
		border-top: solid #000 1.5px;
		border-bottom: solid #000 1.5px;
	}

	aside {
		background: #a79f94;
		float: none;
		width: 100%;
		padding: 5px;
	}

}
