.contenedor{
    border: solid black 2px;
    width: 500px;
    height: 600px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.caja{
    color: white;
    width: 150px;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items:center

}


.box1{
    background-color: red;
   
}

.box2{
    background-color: blue;

}

.box3{
    background-color: green;
   
}
.box4{
    background-color: rgb(202, 152, 13);
  
}
.box5{
    background-color: rgb(128, 0, 90);
}