<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">
                Hola {{persona}}! <a "btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i> </a>
            </p>
        </div>
    </div>
</div>

{{!-- <p>Hola soy el administrador</p> --}}